Datatypes
--
>int - Plain integer

>long - long integer, with 'L' suffix

>float - Floating point number

>complex - Complex no, Real and Imaginary part

>boolean - True and False

>sequence - string, list, tuple

>mapping - Dictionary

>set - unordered collection of distinct objects

>file - used to make file system objects

Typecasting
--

In [2]:
# String/float to int
int('2017')

2017

In [2]:
int(3.123)

3

In [1]:
# type your code here
float(3)

3.0

In [3]:
# String/int to float
float(1.99)

1.99

In [5]:
# type your code here
float('12.1245')

12.1245

# int, float, list, tuple, dictionary to string
Note: [] is for list
() is for tuple
str(3.122)

In [6]:
str([1,2,3,4])

'[1, 2, 3, 4]'

In [1]:
# string, tuple, dict to list
list('D')

['D', 'h', 'i', 'r', 'e', 'n', 'd', 'r', 'a']

In [8]:
list((1,2,3,4))

[1, 2, 3, 4]

In [15]:
l=(1,2,3,4,5)
print(l)
l[0]=999
print(l)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [11]:
tuple([1,2,3,4])

(1, 2, 3, 4)

Operators
--

>Arithmetic: + - * / %
>// Floor Division
>** exponentiation

>Relational: < <= > >= != ==

>Logical: and or not

>Bitwise: & | ^ ~ << >>

>Membership: in, not in

>Identity: is,is not

In [12]:
2<3

True

In [7]:
# type your code here
7>3

True

In [14]:
s=True
t=False
print(s and t )

False

In [15]:
# type your code here

False

In [31]:
s=2 
t=4 
res=0
s&t

0

In [32]:
# type your code here

6

In [18]:
a=4
b=4
# type your code here

True

In [19]:
# type your code here

True

In [20]:
a is not b

False

Looping Statements:
    --

In [ ]:
n = [1,2,3,4,5]
for i in n:
    print(i)

In [9]:
# type your code here

for i in names:('Data')
print(i)

NameError: name 'names' is not defined

In [5]:
# type your code here

for i in s:
    print(i)

NameError: name 's' is not defined

range function:
--

>range(5): It goes from 0 to 4 to generate a sequence of numbers

>range(start, stop, stepsize): Default stepsize is 1

In [43]:
# Program to display sum of numbers
# type your code here


for i in range(5):
    sum = sum + i
print("Sum= ",sum)

Sum=  120

In [13]:
# Program to display even numbers in given range
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

In [14]:
# while
i=1
while i<=5:
    print(i)
    i = i+1 # i++ doesnt exist in python

1
2
3
4
5

In [16]:
s = "Data Science"
i=0
while i<len(s):
    d =s[i]
    print(d)
    i=i+1

D
a
t
a

S
c
i
e
n
c
e

In [28]:
# Nested for
for i in range(5):
    for j in range(i):
        print("*",end = " ")
    print("\n")

*

* *

* * *

* * * *

Conditional execution
--

In [17]:
x=5
if x>0:
    print(x)

5

In [18]:
x=5
if x%2==0:
    print(x," is even")
else:
    print(x," is odd")

5  is odd

In [19]:
x=2
if x<0:
    print(x)

In [20]:
# if statement
x = 40
if x>35:
    print(x,"is greater that 35")
else:
    print(x,"is less than or equal to 35")

40 is greater that 35

In [21]:
# Chained Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

35 is equal to 35

In [22]:
# Nested Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
else:
    if x<35:
        print(x,"is less than 35")
    else:
        print(x,"is equal to 35")

35 is equal to 35

In [23]:
# Nested Conditionals
x = 35
if x<35:
    if x==35:
        print(x,"is equal to 35")
    else:
        print(x,"is less than 35")
else:
    print(x,"is greater than 35")

35 is greater than 35

If there is an else clause, it has to be at the end, but there doesnt have to be one.

In [33]:
# break
n = (1,2,3,4,5)
for i in n:
    if(i==4):
        
    
        print(i)

4

In [25]:
# continue
n = (1,2,3,4,5)
# type your code here