http://pythontutor.com/visualize.html#mode=edit

# List

In [1]:
# Assign a list to an variable named my_list
my_list = [1,2,1,1,1,1,1,1,1]
print(my_list)
print(set(my_list))

[1, 2, 1, 1, 1, 1, 1, 1, 1]
{1, 2}

In [2]:
my_list = ['A string',23,100.232,'o']

In [3]:
len(my_list)

4

In [4]:
my_list = ['one','two','three',4,5]

In [5]:
my_list[0]

'one'

In [6]:
# Grab index 1 and everything past it
my_list[1:-1]

['two', 'three', 4]

In [7]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [8]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [9]:
my_list

['one', 'two', 'three', 4, 5]

In [10]:
# Reassign
my_list = my_list + ['add new item permanently']

In [11]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [12]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [13]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [14]:
my_list[4:]

[5, 'add new item permanently']

In [15]:
# Create a new list
list1 = [1,2,3]

In [16]:
# Append
list1.append('append me!')

In [17]:
list1

[1, 2, 3, 'append me!']

In [18]:
# Pop off the 0 indexed item
list1.pop()

'append me!'

In [19]:
new_list = ['a','e','x','b','c']

In [20]:
new_list

['a', 'e', 'x', 'b', 'c']

In [21]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [22]:
new_list

['c', 'b', 'x', 'e', 'a']

# Nesting Lists

In [23]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [24]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
print(matrix[0][0])
print(matrix[1][0])
print(matrix[2][0])

1
4
7

# Dicitionary

In [26]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'city':'Pune','age':'28','city1':'Mumbai'}

In [27]:
# Call values by their key
my_dict['city']

'Pune'

In [28]:
my_dict['city1']

'Mumbai'

In [29]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
my_dict['key3'][0]

'item0'

In [30]:
# Let's call items from the dictionary
my_dict['key3'][0][2:4]

'em'

In [31]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [32]:
my_dict['key1']

123

In [33]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'Country':{'state':{'city':'Pune'}}}

In [34]:
# Keep calling the keys
d['Country']['state']['city']

'Pune'

In [35]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [36]:
d.values()

dict_values([1, 2, 3])

In [37]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# Sets
Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [38]:
x = set()

In [39]:
# We add to sets with the add() method
x.add(1)

In [40]:
#Show
x

{1}

In [41]:
# Add a different element
x.add(2)

In [42]:
#Show
x

{1, 2}

In [43]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]
list1

[1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

In [44]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}